# 제어문장
## 조건문
### if문

In [3]:
a = 85
if (a>=80):
    print('Hello')
    print("점수: {0}" .format(a))

Hello
점수: 85

### else

In [7]:
a=78
if (a>=75):
    print("점수: {0}" .format(a))
    print("합격")
else:
    print("점수: {0}" .format(a))
    print("불합격")

점수: 78
합격

### elif

In [8]:
a=80
if (a>=90):
    print('A')
elif (a>=80):
    print('B')
else:
    print('C')

B

### 삼항 연산자

In [16]:
a=75
res="합격" if(a>=80) else "불합격"
print(res)

불합격

In [15]:
a=75
if (a>=80):
    res="합격"
else:
    res="불합격"
#이 네 줄을 위의 삼항 연산자를 사용하면 한 줄로 줄일 수 있다. 
print(res)

불합격

In [14]:
a=75; 
res="합격"
if (a<80):
    res="불합격"
print(res)

불합격

In [17]:
# 삼항연산자 중복해서 쓸 수 있다. 
a=75
res="합격" if(a<60) else "재시험" if(a<50) else "불합격"
print(res)

불합격

In [18]:
# 삼항연산자 중복해서 쓸 수 있다. 
a=75
res="합격" if(a<60) else ("재시험" if(a<50) else "불합격")
print(res)

불합격

## 반복문

In [21]:
list(range(1,5))

[1, 2, 3, 4]

In [22]:
for i in ["A", "B"]:
    print(i)
# 이건 맽랩보다 편한듯: 벡터 predefine 안해도 돼서

A
B

In [23]:
for i in range(4):
    print(i)

0
1
2
3

In [24]:
list(range(4))

[0, 1, 2, 3]

In [28]:
# 누적합
a = 0 # 초기화
for i in [1,2,3,4,5,6,7,8,9,10]:
    a+=i
print("1부터 10까지의 합은 {0}입니다" .format(a))

1부터 10까지의 합은 55입니다

In [36]:
# 누적 곱셈
fac=1
num=4
for i in range(1,num+1,1):
    fac*=i
print("{0} 팩토리얼은 {1}입니다" .format(num, fac))

4 팩토리얼은 24입니다

In [38]:
for i in range(1,51):
    if (i%10==0):
        print('+', end="")
    else:
        print('-', end="")

---------+---------+---------+---------+---------+

### 중첩된 for loop

In [45]:
for i in [1,4,2]:
    for j in [2,5,7]:
        if (j!=7):
            print("{0}*{1} = {2}" .format(i,j,i*j),end="\t")
        else:
            print("{0}*{1} = {2}" .format(i,j,i*j))

1*2 = 2	1*5 = 5	1*7 = 7
4*2 = 8	4*5 = 20	4*7 = 28
2*2 = 4	2*5 = 10	2*7 = 14

In [49]:
n=6
wfact=1
i=1
while(i<=n):
    wfact*=i
    i+=1
print("1~50까지 곱 {0}" .format(wfact))

1~50까지 곱 720

# 분기문
## break문

In [3]:
for i in range(3):
    a=int(input("더하고자 하는 첫 번째 값을 입력하세요.(정수) :"))
    b=int(input("더하고자 하는 두 번째 값을 입력하세요.(정수) :"))
    print("{0}+{1}={2}" .format(a,b,a+b))
print("계산을 종료합니다")

더하고자 하는 첫 번째 값을 입력하세요.(정수) :1
더하고자 하는 두 번째 값을 입력하세요.(정수) :1
1+1=2
더하고자 하는 첫 번째 값을 입력하세요.(정수) :2
더하고자 하는 두 번째 값을 입력하세요.(정수) :2
2+2=4
더하고자 하는 첫 번째 값을 입력하세요.(정수) :3
더하고자 하는 두 번째 값을 입력하세요.(정수) :3
3+3=6
계산을 종료합니다

In [4]:
for i in range(3):
    a=int(input("더하고자 하는 첫 번째 값을 입력하세요.(정수) :"))
    b=int(input("더하고자 하는 두 번째 값을 입력하세요.(정수) :"))
    if (a==0 and b==0):
        break
    print("{0}+{1}={2}" .format(a,b,a+b))
print("계산을 종료합니다")

더하고자 하는 첫 번째 값을 입력하세요.(정수) :0
더하고자 하는 두 번째 값을 입력하세요.(정수) :0
계산을 종료합니다

## continue문

In [7]:
for i in range(3):
    a=int(input("더하고자 하는 첫 번째 값을 입력하세요.(정수) :"))
    b=int(input("더하고자 하는 두 번째 값을 입력하세요.(정수) :"))
    if (a==0 and b==0):
        continue
    print("{0}+{1}={2}" .format(a,b,a+b))
print("계산을 종료합니다")

더하고자 하는 첫 번째 값을 입력하세요.(정수) :1
더하고자 하는 두 번째 값을 입력하세요.(정수) :1
1+1=2
더하고자 하는 첫 번째 값을 입력하세요.(정수) :0
더하고자 하는 두 번째 값을 입력하세요.(정수) :0
더하고자 하는 첫 번째 값을 입력하세요.(정수) :1
더하고자 하는 두 번째 값을 입력하세요.(정수) :1
1+1=2
계산을 종료합니다

### a 고정된 상태에서 b 두 번 입력 (continue)

In [10]:
# a 고정된 상태에서 b 두 번 입력
for i in range(3):
    a = int(input("첫 번째 정수 입력: "))
    for j in range(2):
        b = int(input("두 번째 정수 입력: "))
        if(a==0 and b==0):
            continue
        print("{0}+{1}={2}". format(a,b,a+b))
print("계산 종료")

첫 번째 정수 입력: 1
두 번째 정수 입력: 2
1+2=3
두 번째 정수 입력: 1
1+1=2
첫 번째 정수 입력: 3
두 번째 정수 입력: 3
3+3=6
두 번째 정수 입력: 0
3+0=3
첫 번째 정수 입력: 0
두 번째 정수 입력: 0
두 번째 정수 입력: 0
계산 종료

### a 고정된 상태에서 b 두 번 입력 (break)

In [11]:
# a 고정된 상태에서 b 두 번 입력 
for i in range(3):
    a = int(input("첫 번째 정수 입력: "))
    for j in range(2):
        b = int(input("두 번째 정수 입력: "))
        if(a==0 and b==0):
            break # 안쪽 루프만 빠져나오는 break이다
        print("{0}+{1}={2}". format(a,b,a+b))
print("계산 종료")

첫 번째 정수 입력: 1
두 번째 정수 입력: 2
1+2=3
두 번째 정수 입력: 0
1+0=1
첫 번째 정수 입력: 0
두 번째 정수 입력: 0
첫 번째 정수 입력: 1
두 번째 정수 입력: 0
1+0=1
두 번째 정수 입력: 0
1+0=1
계산 종료

# 컨테이너 자료형

In [14]:
aa=[]
bb=[2,4,3]
cc=["a", "b", "kim"]
dd=["a", 58, True]
ee=[3, True, dd]

print(dd)
print(ee)
print(ee[2][1])

['a', 58, True]
[3, True, ['a', 58, True]]
58

In [15]:
aaa=list()
aaa

[]

In [16]:
list("Kima")

['K', 'i', 'm', 'a']

In [17]:
#튜플형
aa=(3,2,5,6)
aa

(3, 2, 5, 6)

In [18]:
# 튜플을 강제로 리스트로 바꿀 수 있음
list(aa)

[3, 2, 5, 6]

In [21]:
dic={"서울":"02", "경기":"031"}
dic

{'서울': '02', '경기': '031'}

### iterative 객체는 next라는 함수로 순차적으로 뽑아낼 수 있다

In [22]:
aa=reversed([33,5,44,2,345])
next(aa)
next(aa)
next(aa)

44

In [23]:
#list는 iterator는 아니다
aa=[33,4,5,1,2]
next(aa)

TypeError: 'list' object is not an iterator

## list의 데이터 수정
### list는 mutable한 객체

In [33]:
lsobj=[3,2,5,6,4]
print("ID : {0}\t{1}".format(id(lsobj),lsobj))
lsobj[2] = 1000
print("ID : {0}\t{1}".format(id(lsobj),lsobj))
lsobj[:] = [1,2,3,4,5]
print("ID : {0}\t{1}".format(id(lsobj),lsobj))
lsobj=[1,2,3,4,5]
print("ID : {0}\t{1}".format(id(lsobj),lsobj))
lsobj[1:4] = [99999] # 1,2,3번 인덱스를 없앤다
# 덮어쓰더라도 iterable한 자료 유형으로 덮어써야 한다
print("ID : {0}\t{1}".format(id(lsobj),lsobj))

ID : 2284840458312	[3, 2, 5, 6, 4]
ID : 2284840458312	[3, 2, 1000, 6, 4]
ID : 2284840458312	[1, 2, 3, 4, 5]
ID : 2284841653640	[1, 2, 3, 4, 5]
ID : 2284841653640	[1, 99999, 5]

## list에서 사용하는 연산자

In [35]:
lsobj1 = [2,5,3]
lsobj2 = [100,200]
print(lsobj1*2)
lsobj1 += lsobj2
print(lsobj1)

[2, 5, 3, 2, 5, 3]
[2, 5, 3, 100, 200]

## list 메소드

In [38]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [45]:
A=[3,4,5,6,7]
print(id(A))
A.append(999)
A, id(A)

2284841964360

([3, 4, 5, 6, 7, 999], 2284841964360)

In [40]:
A=[3,4,5,6,7]
A[5] = 999
A

IndexError: list assignment index out of range

In [44]:
# A.append 대안:
A = [3,4,5,6,7]
print(id(A))
A+=[999]
A, id(A)

2284841967176

([3, 4, 5, 6, 7, 999], 2284841967176)

In [46]:
A=[3,4,5,4,6]
A.remove(4) # 4 두 번 나오지만 첫 번째 4만 제거된다 
A

[3, 5, 4, 6]

### Mutable한 자료 특성

In [51]:
A=[1,2,3,4,5]
B=A
print("{0}, {1}" .format(A, B))
print("A ID: {0}\tB ID : {1}" .format(id(A), id(B)))
A[2] = 10000
print("{0}, {1}" .format(A, B))
print("A ID: {0}\tB ID : {1}" .format(id(A), id(B)))

[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]
A ID: 2284838748296	B ID : 2284838748296
[1, 2, 10000, 4, 5], [1, 2, 10000, 4, 5]
A ID: 2284838748296	B ID : 2284838748296

### Method 이용해서 다른 id가진 객체로 복사하기

In [56]:
A=[7,3,4,5,5]
B=A
C=A.copy()
D=A[:]
print("A {0} ID {1}" .format(A,id(A)))
print("B {0} ID {1}" .format(B,id(B)))
print("C {0} ID {1}" .format(C,id(C)))
print("D {0} ID {1}" .format(D,id(D)))
# A와 B는 id가 같지만, B와 C와는 모두 다름

# A 수정하기
A[3] = 123
print("A {0} ID {1}" .format(A,id(A)))
print("B {0} ID {1}" .format(B,id(B)))
print("C {0} ID {1}" .format(C,id(C)))
print("D {0} ID {1}" .format(D,id(D)))

A [7, 3, 4, 5, 5] ID 2284843988808
B [7, 3, 4, 5, 5] ID 2284843988808
C [7, 3, 4, 5, 5] ID 2284843237192
D [7, 3, 4, 5, 5] ID 2284843247752
A [7, 3, 4, 123, 5] ID 2284843988808
B [7, 3, 4, 123, 5] ID 2284843988808
C [7, 3, 4, 5, 5] ID 2284843237192
D [7, 3, 4, 5, 5] ID 2284843247752

ls=[2,3,4,5,6]
ls.sort(reverse=True) # reversed -> 내림차순
ls

In [67]:
A=[[7,3,5,2,3,9], [1,2,3,2,1], [3,2,4,1,5,2,5], [1,2,4,6,3,1]]
avg=[]
for i in range(len(A)):
    avg.append(sum(A[i])/len(A[i]))
               
avg

[4.833333333333333, 1.8, 3.142857142857143, 2.8333333333333335]

## 튜플 (Tuple)

In [68]:
A=345; B=45; C=123;
A,B,C # 이게 튜플 형식

(345, 45, 123)

In [69]:
# TUPLE은 UNMUTABLE 하므로 그 자체를 바꾸는건 불가능
A=([234,345,123],)
A[0]=[12,23,13]
A

TypeError: 'tuple' object does not support item assignment

In [70]:
# 하지만 TUPLE 내의 원소가 MUTABLE하면 그건 수정 가능 (특이한 점)
A=([234,345,123],)
A[0][1:2]=[12,23,13]
A

([234, 12, 23, 13, 123],)

## 집합

### Immutable한 객체만 원소로 가질 수 있음

In [71]:
A=[1,2,3,4,5]
B=(3,4,5,6,3)
C={A,B,34}
print(type(C),C)
# A가 mutable한 list라서 에러남

TypeError: unhashable type: 'list'

In [72]:
A=[1,2,3,4,5]
B=(3,4,5,6,3)
C={"A",B,34}
print(type(C),C)

<class 'set'> {'A', 34, (3, 4, 5, 6, 3)}

In [73]:
A={1,2,3,4,5}
B={2,3,5,54}
C=A # 둘이 ID 같음
D=B.copy() # 둘이 ID 다름

print("Set {0} ID: {1}" .format(A, id(A)))
print("Set {0} ID: {1}" .format(B, id(B)))
print("Set {0} ID: {1}" .format(C, id(C)))
print("Set {0} ID: {1}" .format(D, id(D)))

Set {1, 2, 3, 4, 5} ID: 2284843077416
Set {2, 3, 5, 54} ID: 2284843076520
Set {1, 2, 3, 4, 5} ID: 2284843077416
Set {2, 3, 5, 54} ID: 2284805358984

In [75]:
A={1,2,3,4,5}
B={2,3,5,54}


print("Set {0} ID: {1}" .format(A, id(A)))
print("Set {0} ID: {1}" .format(B, id(B)))

C=A.union(B)
D=A.update(B)

print("Set {0} ID: {1}" .format(C, id(C)))
print("Set {0} ID: {1}" .format(D, id(D)))

Set {1, 2, 3, 4, 5} ID: 2284843040328
Set {2, 3, 5, 54} ID: 2284843076520
Set {1, 2, 3, 4, 5, 54} ID: 2284843076968
Set None ID: 1794874672